{% extends "layout.html" %}

{% block title %}
    results
{% endblock %}

{% block main %}
<div class="container bg-dark">
    <div class="d-flex flex-column flex-md-row align-items-center p2 px-md-4 md-3 bg-dark border-bottom box-shadow mt-5"> 
        <h1 class="display-4 bg-dark text-white">Search Result</h1>
    </div>
    <div class="jumbotron mt-3 mt-md-4 mt-lg-5 p-2 p-md-4 text-white rounded bg-dark">
        <p class="lead my-3">The seach may be partial, such as part of the isbn, but the results are limited in 15. So if you searched a book and it is not in the following the list, try a more narrow search such as typing the complete ISBN:</p>
    </div>
</div>
<table class="table table-dark mt-1 mt-sm-3 mt-md-4 mt-lg-5" >
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Year</th>
        </tr>
        {% for book in books_list %}
            <tr>
                <td><a class=" btn text-white" href="/detail/{{ book.isbn }}">{{ book.title }}</a></td>
                <td><a class="btn text-white" href="/detail/{{ book.isbn }}">{{ book.author }}</a></td>
                <td><a class="btn text-white" href="/detail/{{ book.isbn }}">{{ book.isbn }}</a></td>
                <td><a class="btn text-white" href="/detail/{{ book.isbn }}">{{ book.year }}</a></td>
                <!--<th>book.score_goodreads</th>-->
                <!--<th>book.score</th>-->
            </tr>
        {% endfor %}
    </div>
</table>

{% endblock %}